<a href="https://colab.research.google.com/github/ProfessionalYapper0311/Sampling_Rupam_102317201/blob/main/Sampling_Rupam_102317201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import math

In [ ]:
cred = pd.read_csv("/content/Creditcard_data.csv")
cred.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
637,484,-1.123243,-0.601733,1.866232,0.373544,-0.165149,1.602099,-0.220908,0.618353,-1.172353,...,0.090582,0.804918,0.432421,-0.658489,-0.385666,-0.068157,0.459111,0.222762,158.0,0
741,557,1.173585,0.250650,0.839631,1.066309,-0.365090,-0.161887,-0.230310,-0.012302,0.123302,...,0.171834,0.659725,-0.064483,0.125329,0.506081,-0.270854,0.069604,0.030001,1.0,0
28,23,-0.414289,0.905437,1.727453,1.473471,0.007443,-0.200331,0.740228,-0.029247,-0.593392,...,0.077237,0.457331,-0.038500,0.642522,-0.183891,-0.277464,0.182687,0.152665,33.0,0
458,335,1.295946,1.011835,-3.191860,0.471478,3.350241,2.432783,0.189553,0.621734,-0.556702,...,-0.263248,-0.825372,-0.245258,0.674749,1.010841,-0.279061,0.040542,0.090574,4.8,0
7,7,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.8,0

In [ ]:
cred.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
767,575,-0.572263,0.731748,1.541254,0.150506,1.108974,0.372152,1.084879,-0.146329,-0.274447,...,-0.143508,-0.107582,-0.418263,-0.731029,0.877525,-0.364150,-0.177509,-0.256545,26.72,0
768,579,-1.296845,-0.511605,2.404726,-0.310762,-0.319551,-0.542842,-0.173310,0.260423,-1.202688,...,-0.071270,-0.161175,0.088496,0.285390,0.281069,-0.370130,0.043410,0.092318,80.00,0
769,579,1.214170,0.210481,0.484651,0.479768,-0.261955,-0.527039,0.021782,-0.106888,-0.037631,...,-0.224292,-0.594609,0.159877,0.091873,0.140964,0.227406,-0.017389,0.016030,5.98,0
770,580,1.267030,-0.071114,0.037680,0.512683,0.242392,0.705212,-0.226582,0.109483,0.657565,...,-0.164468,-0.177225,-0.222918,-1.245505,0.678360,0.525059,0.002920,-0.003333,12.36,0
771,581,1.153758,0.132273,0.382969,1.405063,-0.224287,-0.197295,0.020653,0.029260,0.412254,...,-0.107809,-0.125231,-0.057041,0.073082,0.633977,-0.310685,0.033590,0.015250,13.79,0

In [ ]:
#before this I attempted it by oversampling the minority class before splitting, which lead to data leakage,I corrected by splitting X_orig first.
X_orig = cred.drop('Class', axis=1)
y_orig = cred['Class']
X_train_orig, X_test, y_train_orig, y_test = train_test_split(X_orig, y_orig, test_size=0.25, random_state=42, stratify=y_orig)
train_df = pd.concat([X_train_orig, y_train_orig], axis=1)

In [ ]:
maj_class = train_df[train_df['Class'] == 0]
min_class = train_df[train_df['Class'] == 1]
maj_class

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
67,44,-0.948896,0.248414,2.956914,2.813750,0.145539,-0.027353,0.133702,-0.307535,-0.125244,...,-0.083647,0.416090,0.207537,0.716064,-0.602311,-0.064230,-0.315058,-0.272463,0.75,0
526,389,1.228478,-1.097948,1.629013,-0.005550,-1.969868,0.250276,-1.381782,0.174507,0.641162,...,-0.526064,-0.566475,0.045969,0.475350,0.164650,1.069437,0.027740,0.026680,29.95,0
269,190,0.803846,-0.571718,1.048093,1.167677,-0.702292,1.000003,-0.692965,0.483593,0.577314,...,0.300503,0.778199,-0.144781,-0.277469,0.272133,-0.227467,0.072237,0.038945,127.75,0
259,183,0.726749,-0.528042,0.050366,1.373621,-0.124122,0.415688,0.259555,0.085114,-0.003025,...,0.061888,-0.101838,-0.308373,-0.270673,0.604410,-0.333689,-0.003944,0.040685,224.97,0
714,538,-0.636011,-0.303838,1.215343,0.308924,0.561377,0.296560,0.862485,-0.406401,-0.084263,...,-0.155456,0.143292,-0.013619,-0.214473,-1.093307,0.396991,-0.109662,-0.345634,158.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,503,0.074738,-3.032009,-0.429919,-0.442721,-1.784710,-0.066668,0.098736,-0.222525,-0.241858,...,-0.078927,-1.247242,-0.620402,-0.368545,-0.073359,1.296835,-0.192760,0.121440,712.82,0
598,450,1.216891,-0.735671,0.236358,-0.579814,-1.178604,-0.930514,-0.386018,-0.120917,-1.081759,...,-0.291514,-0.586820,0.009280,0.557000,0.163173,1.005774,-0.087848,0.006504,75.65,0
668,508,1.335369,0.535982,-0.448156,0.902998,0.517134,-0.694213,0.590279,-0.348319,-0.344490,...,-0.042465,-0.021676,-0.259350,-0.412243,0.991928,-0.247183,-0.003841,0.004311,2.27,0
439,317,1.384146,-0.729477,0.562339,-0.901506,-0.831961,0.299020,-1.086901,0.111688,-0.391830,...,0.354589,1.020045,-0.204474,-0.843692,0.492947,0.038608,0.053718,0.014774,19.99,0
729,550,-1.274193,1.722263,0.429337,0.105932,-0.732006,-1.107861,-0.021279,0.818796,-0.447669,...,-0.218749,-0.786584,0.106722,0.313637,-0.083626,0.083494,0.109637,0.018247,16.83,0

In [ ]:
min_class

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
244,164,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.99,1
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
717,539,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,1.00,1
182,118,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,...,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,2.69,1
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
699,529,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,1.50,1

In [ ]:
min_oversample = min_class.sample(len(maj_class), replace=True, random_state=42)
bal_df = pd.concat([maj_class, min_oversample])
bal_df = bal_df.sample(frac=1, random_state=42).reset_index(drop=True)

print(f'Balanced Training Data shape: {bal_df.shape}')
print(f"Class distribution:\n {bal_df['Class'].value_counts()}")

Balanced Training Data shape: (1144, 31)
Class distribution:
 Class
0    572
1    572
Name: count, dtype: int64

In [ ]:
Z = 1.96
p = 0.5
e = 0.05
n = math.ceil((Z**2 * p * (1-p)) / e**2)
print(f"Sample size: {n}")

samples = {}

#random
samples['Rndm_Sampling'] = bal_df.sample(n, random_state=42)

#sydtematic
k = int(len(bal_df)/n)
indices = np.arange(0, len(bal_df), k)[:n]
samples['Syst_Sampling'] = bal_df.iloc[indices]

#stratify
sample3, _ = train_test_split(bal_df, train_size=n, stratify=bal_df['Class'], random_state=42)
samples['Stat_Sampling3'] = sample3

#cluster
bal_df_cluster = bal_df.copy()

num_cluster = 20
bal_df_cluster['Cluster'] = np.random.randint(0, num_cluster, size=len(bal_df))
sel_cluster = np.random.choice(num_cluster, size=5, replace=False)
cluster_samp = bal_df_cluster[bal_df_cluster['Cluster'].isin(sel_cluster)]

if len(cluster_samp) > n:
    cluster_samp = cluster_samp.sample(n, random_state=42)
samples['Cluster_Sampling'] = cluster_samp.drop(columns=['Cluster'])

#boorstrap
samples['Btstrap_sampling'] = bal_df.sample(n, replace=True, random_state=42)

print("Samples created")
for name, df in samples.items():
    print(f"{name} Shape: {df.shape}")

Sample size: 385
Samples created
Rndm_Sampling Shape: (385, 31)
Syst_Sampling Shape: (385, 31)
Stat_Sampling3 Shape: (385, 31)
Cluster_Sampling Shape: (291, 31)
Btstrap_sampling Shape: (385, 31)

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

models = {
    'M1(LogisticRegression)': LogisticRegression(max_iter=1000, random_state=42),
    'M2(DecisionTreeClassifier)': DecisionTreeClassifier(random_state=42),
    'M3(RandomForestClassifier)': RandomForestClassifier(random_state=42),
    'M4(SVM)': SVC(random_state=42),
    'M5(KNN)': KNeighborsClassifier()
}

print(f"Test Set Size: {len(X_test)} rows")

final_res = {}

for model_name, model in models.items():
    print(f"Training {model_name}...")
    model_accuracy = {}

    for sample_name, sample_df in samples.items():
        #specific sample
        X_train_sample = sample_df.drop('Class', axis=1)
        y_train_sample = sample_df['Class']

        model.fit(X_train_sample, y_train_sample)

        #org untouched x_test
        y_pred = model.predict(X_test)

        acc = accuracy_score(y_test, y_pred)
        model_accuracy[sample_name] = round(acc * 100, 2)

    final_res[model_name] = model_accuracy

print("\nAccuracy Table:")
results_df = pd.DataFrame(final_res).T
print(results_df)

Test Set Size: 193 rows
Training M1(LogisticRegression)...

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Training M2(DecisionTreeClassifier)...
Training M3(RandomForestClassifier)...
Training M4(SVM)...
Training M5(KNN)...

Accuracy Table:
                            Rndm_Sampling  Syst_Sampling  Stat_Sampling3  \
M1(LogisticRegression)              90.16          90.67           88.08
M2(DecisionTreeClassifier)          95.34          95.85           96.37
M3(RandomForestClassifier)          98.96          98.96           98.96
M4(SVM)                             70.98          79.27           69.43
M5(KNN)                             92.75          95.85           96.37

                            Cluster_Sampling  Btstrap_sampling
M1(LogisticRegression)                 84.97             88.60
M2(DecisionTreeClassifier)             94.30             95.85
M3(RandomForestClassifier)             98.96             99.48
M4(SVM)                                66.84             72.02
M5(KNN)                                91.19             95.85

In [12]:
results_df.to_csv("sampling_rupam_102317201.csv")

print("\nBest Sampling Technique for each Model:")
for model in final_res:
    best_sample = max(final_res[model], key=final_res[model].get)
    print(f"{model}: {best_sample} ({final_res[model][best_sample]}%)")

Best Sampling Technique for each Model:
M1(LogisticRegression): Syst_Sampling (90.67%)
M2(DecisionTreeClassifier): Stat_Sampling3 (96.37%)
M3(RandomForestClassifier): Btstrap_sampling (99.48%)
M4(SVM): Syst_Sampling (79.27%)
M5(KNN): Stat_Sampling3 (96.37%)

In [13]:
best_model_overall = None
best_sample_overall = None
max_accuracy = 0.0

for model_name, accuracies in final_res.items():
    for sample_name, acc in accuracies.items():
        if acc > max_accuracy:
            max_accuracy = acc
            best_model_overall = model_name
            best_sample_overall = sample_name

print("\n" + "="*40)
print("Overall BEST Model and sampling")
print("="*40)
print("\n")
print(f"Best Model         : {best_model_overall}")
print(f"Best Sampling method : {best_sample_overall}")
print(f"Highest Accuracy   : {max_accuracy}%")

========================================
Overall BEST Model and sampling
========================================


Best Model         : M3(RandomForestClassifier)
Best Sampling method : Btstrap_sampling
Highest Accuracy   : 99.48%